__pycache__
main.cpython-310.pyc			test.cpython-38-pytest-7.1.2.pyc
main.cpython-38.pyc			tests.cpython-310-pytest-7.2.1.pyc
.DS_Store
	__pycache__/main.cpython-310.pyc
	__pycache__/tests.cpython-310-pytest-7.2.1.pyc


